{% extends 'admin/dashboardMenu.html.twig' %}

{% block title %}Leads Interaction - Smarter Payouts{% endblock %}

{% block content %}
    {# Confirmation Popup Model for Messages #}
    <div class="modal fade" id="messageConfirmationModel" tabindex="-1" role="dialog"
         aria-labelledby="messageConfirmationModel" aria-hidden="true">
        <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme">
                    <h5 class="modal-title">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <div class="col-12">
                            <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </dd>
                        </div>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-custom-default btn-light-custom" data-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-outline-custom-default btn-success-custom" href="" id="sendMessage"> Send Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-body">
            <dl class="row">
                <div class="col-md-6 row">
                    <dt class="col-md-4">Name:</dt>
                    <dd class="col-md-8">John</dd>
                    <dt class="col-md-4">Address:</dt>
                    <dd class="col-md-8">Muslim town, Lahore</dd>
                    <dt class="col-md-4">Date of birth:</dt>
                    <dd class="col-md-8">18/12/1999</dd>
                    <dt class="col-md-4">Email:</dt>
                    <dd class="col-md-8">john@gmail.com</dd>
                </div>
                <div class="col-md-6 row">
                    <dt class="col-md-4">Company:</dt>
                    <dd class="col-md-8">Transamerica's</dd>
                    <dt class="col-md-4">Offer range:</dt>
                    <dd class="col-md-8">$12345 to $36547</dd>
                    <dt class="col-md-4">Payments:</dt>
                    <dd class="col-md-8">$121561 <small>5% monthly increase</small></dd>
                    <dt class="col-md-4">Dates:</dt>
                    <dd class="col-md-8">09/10/2020 to 09/10/2025</dd>
                    <dt class="col-md-4">Benefit:</dt>
                    <dd class="col-md-8">$15215621</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="col-lg-8">
                <div class="col-12 pb-2 pl-md-1 d-flex justify-content-center">
                    <div style="width: 100%" id="chart_div"></div>
                </div>
            </div>
            <div class="col-lg-5 pt-2">
                <div class="d-flex justify-content-around flex-md-wrap">
                    <a title="Text Message" data-toggle="modal" data-target="#messageConfirmationModel"> <i
                                class="fa fa-comment bg-outline-large-theme"></i></a>
                    <a href="javascript:void(0)" id = "call" title="Call"><i class="fa fa-phone bg-outline-large-theme"></i></a>
                    <a href="javascript:void(0)" id = "voicemail" title="Voice mail" data-url = {{ path('send_voicemail') }}><i class="fa fa-microphone bg-outline-large-theme"></i></a>
                    <a href="" title="Letter"><i class="fa fa-envelope bg-outline-large-theme"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-header bg-theme m-0">
            <h4>Leads Interaction</h4></div>
        <div class="card-body">
            <table id="data_table" class="table-hover table-striped table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl">
                <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>CRM ID</th>
                    <th>First Name</th>
                    <th>Contact 1</th>
                    <th>Contact 2</th>
                    <th>Contact 3</th>
                    <th>Voice Tag</th>
                    <th>Notes</th>
                    <th>Date/Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for customer in customers %}
                    <tr>
                        <td>
                            <div class="checkbox icheck-info">
                                <input class="customer-details" type="radio" data-uri="{{ path('get_customer', {'id' : customer.id})}}" data-customerId="{{ customer.id }}" name="customer" id="{{ customer.id }}"/>
                                <label for="{{ customer.id }}"></label>
                            </div>
                        </td>
                        <td>LCP</td>
                        <td>584512</td>
                        <td>{{ customer.firstName }}</td>
                        <td>
                            <p>{{ customer.phoneNumber1 }}</p>
                            <div class="d-flex justify-content-center">
                                <div class="custom-control-inline">
                                    <div class="radio icheck-success">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber1_success" name="{{ customer.id  }}_phoneNumber1"/>
                                        <label for="{{ customer.id }}_phoneNumber1_success"></label>
                                    </div>
                                    <div class="radio icheck-warning">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber1_warning" name="{{ customer.id  }}_phoneNumber1"/>
                                        <label for="{{ customer.id }}_phoneNumber1_warning"></label>
                                    </div>
                                    <div class="radio icheck-danger">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber1_danger" name="{{ customer.id  }}_phoneNumber1"/>
                                        <label for="{{ customer.id }}_phoneNumber1_danger"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{ customer.phoneNumber2 }}</p>
                            <div class="d-flex justify-content-center">
                                <div class="custom-control-inline">
                                    <div class="radio icheck-success">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber2_success" name="{{ customer.id  }}_phoneNumber2"/>
                                        <label for="{{ customer.id }}_phoneNumber2_success"></label>
                                    </div>
                                    <div class="radio icheck-warning">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber2_warning" name="{{ customer.id  }}_phoneNumber2"/>
                                        <label for="{{ customer.id }}_phoneNumber2_warning"></label>
                                    </div>
                                    <div class="radio icheck-danger">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber2_danger" name="{{ customer.id  }}_phoneNumber2"/>
                                        <label for="{{ customer.id }}_phoneNumber2_danger"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{ customer.phoneNumber3 }}</p>
                            <div class="d-flex justify-content-center">
                                <div class="custom-control-inline">
                                    <div class="radio icheck-success">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber3_success" name="{{ customer.id  }}_phoneNumber3"/>
                                        <label for="{{ customer.id }}_phoneNumber3_success"></label>
                                    </div>
                                    <div class="radio icheck-warning">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber3_warning" name="{{ customer.id  }}_phoneNumber3"/>
                                        <label for="{{ customer.id }}_phoneNumber3_warning"></label>
                                    </div>
                                    <div class="radio icheck-danger">
                                        <input type="radio" id="{{ customer.id }}_phoneNumber3_danger" name="{{ customer.id  }}_phoneNumber3"/>
                                        <label for="{{ customer.id }}_phoneNumber3_danger"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a href="{{ path('get_audio', {'customerId' : customer.id}) }}" title="Verify Voice Tags"><i
                                        class="fa fa-file-audio m-1 {% if customer.audioTagCompleted %}bg-outline-theme{% else %}bg-outline-dark{% endif %}"></i></a></td>
                        <td>Client is at work, will call at 5 pm</td>
                        <td>10:15 am
                            <br> 10/15/2021
                        </td>
                        <td>
                            <a href="" title="Details"><i class="fa fa-info m-1 bg-outline-theme"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/google-speedo-meter.js') }}"></script>
    <script src="{{ asset('resources/js/quickStart.js') }}"></script>
    <script src="{{ asset('resources/js/twilio.min.js') }}"></script>
{% endblock %}