{% extends 'dashboardMenu.html.twig' %}

{% block title %}Letter List!{% endblock %}

{% block content %}

    <ul>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp1'}) }}"> Smart payout's 1st Letter LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp2'}) }}"> Smart payout's 2nd Letter LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp3'}) }}"> Smart payout's 3rd Letter LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp4'}) }}"> Smart payout's 4th Letter 100% LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp5'}) }}"> Smart payout's 5th Letter 50% LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'lcp6'}) }}"> Smart payout's 6th Letter LCP</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp1'}) }}"> Smart payout's GP 1st Letter</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp2'}) }}"> Smart payout's GP 2nd Letter</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp3'}) }}"> Smart payout's GP 3rd Letter</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp4'}) }}"> Smart payout's GP 4th Letter 100%</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp5'}) }}"> Smart payout's GP 5th Letter 50%</a></li>
        <li><a target="_blank" href="{{ path('generate_pdf', {'letterFileName' : 'gp6'}) }}"> Smart payout's GP 6th Letter</a></li>
    </ul>

{% endblock %}