{% extends 'admin/dashboardMenu.html.twig' %}

{% block title %}Leads Interaction - Smarter Payouts{% endblock %}

{% block content %}
    <div class="col-12">
        <dl class="d-flex justify-content-start pl-2">
            <div>
                <div class="row">
                    <dt class="pr-2">CRM ID:</dt>
                    <dd>0015</dd>
                </div>
                <div class="row">
                    <dt class="pr-2">Name:</dt>
                    <dd>John Smith</dd>
                </div>
            </div>
        </dl>
    </div>
    <div class="col-12 p-0">
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="custom-border-bottom text-center">
                    Day One Messages
                    <div class="checkbox icheck-default float-right">
                        <input type="checkbox" checked id="r1" disabled/>
                        <label for="r1"></label>
                    </div>
                </h5>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-10 p-0">
                            <div class="row">
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(A-1)</label>
                                    <small>Name tag</small>
                                    {% if customerAudio is defined and customerAudio is not null %}
                                        <audio class="audio-player-min day-one" id="player"
                                               src="{{ customerAudio }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(B)</label>
                                    <small>Message tag</small>
                                    {% if firstGenericTag is defined and firstGenericTag is not null %}
                                        <audio class="audio-player-min day-one" id="player"
                                               src="{{ firstGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}

                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(C)</label>
                                    <small>Hardship tag</small>
                                    {% if secondGenericTag is defined and secondGenericTag is not null %}
                                        <audio class="audio-player-min day-one" id="player"
                                               src="{{ secondGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(D)</label>
                                    <small>Intro tag</small>
                                    {% if thirdGenericTag is defined and thirdGenericTag is not null %}
                                        <audio class="audio-player-min day-one" id="player"
                                               src="{{ thirdGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 p-0">
                            <div class="p-3 d-flex align-items-center flex-column">
                                <label>Play all</label>
                                <small>Day one message</small>
                                <a class="dayOneAudioPlay"><i class='fa fa-file-audio audio-file'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="custom-border-bottom text-center">
                    Day Two Messages
                    <div class="checkbox icheck-default float-right">
                        <input type="checkbox" id="day2" disabled/>
                        <label for="day2"></label>
                    </div>
                </h5>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-10 p-0">
                            <div class="row">
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(A-1)</label>
                                    <small>Name tag</small>
                                    {% if customerAudio is defined and customerAudio is not null %}
                                        <audio class="audio-player-min day-two" id="player"
                                               src="{{ customerAudio }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(B)</label>
                                    <small>Message tag</small>
                                    {% if firstGenericTag is defined and firstGenericTag is not null %}
                                        <audio class="audio-player-min day-two" id="player"
                                               src="{{ firstGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>2(A-1)</label>
                                    <small>Insurance Tag</small>
                                    {% if insuranceCompanyAudio is defined and insuranceCompanyAudio is not null %}
                                        <audio class="audio-player-min day-two" id="player"
                                               src="{{ insuranceCompanyAudio }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>2(B)</label>
                                    <small>Cash Relief Tag</small>
                                    {% if fourthGenericTag is defined and fourthGenericTag is not null %}
                                        <audio class="audio-player-min day-two" id="player"
                                               src="{{ fourthGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(D)</label>
                                    <small>Intro tag</small>
                                    {% if thirdGenericTag is defined and thirdGenericTag is not null %}
                                        <audio class="audio-player-min day-two" id="player"
                                               src="{{ thirdGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 p-0">
                            <div class="p-3 d-flex align-items-center flex-column">
                                <label>Play all</label>
                                <small>Day two message</small>
                                <a class="dayTwoAudioPlay"><i class='fa fa-file-audio audio-file'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="custom-border-bottom text-center">
                    Day Three Messages
                    <div class="checkbox icheck-default float-right">
                        <input type="checkbox" id="day3" disabled/>
                        <label for="day3"></label>
                    </div>
                </h5>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-10 p-0">
                            <div class="row">
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(A-1)</label>
                                    <small>Name tag</small>
                                    {% if customerAudio is defined and customerAudio is not null %}
                                        <audio class="audio-player-min day-three" id="player"
                                               src="{{ customerAudio }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(B)</label>
                                    <small>Message tag</small>
                                    {% if firstGenericTag is defined and firstGenericTag is not null %}
                                        <audio class="audio-player-min day-three" id="player"
                                               src="{{ firstGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>2(A-1)</label>
                                    <small>Insurance Tag</small>
                                    {% if insuranceCompanyAudio is defined and insuranceCompanyAudio is not null %}
                                        <audio class="audio-player-min day-three" id="player"
                                               src="{{ insuranceCompanyAudio }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>3(B)</label>
                                    <small>Cash Relief Tag</small>
                                    {% if fifthGenericTag is defined and fifthGenericTag is not null %}
                                        <audio class="audio-player-min day-three" id="player"
                                               src="{{ fifthGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                                <div class="p-3 d-flex align-items-center flex-column">
                                    <label>1(D)</label>
                                    <small>Intro tag</small>
                                    {% if thirdGenericTag is defined and thirdGenericTag is not null %}
                                        <audio class="audio-player-min day-three" id="player"
                                               src="{{ thirdGenericTag }}"></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file'></i></a>
                                    {% else %}
                                        <audio class="audio-player-min" id="player" src=""></audio>
                                        <a class="audioPlay"><i class='fa fa-play audio-file-danger'></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 p-0">
                            <div class="p-3 d-flex align-items-center flex-column">
                                <label>Play all</label>
                                <small>Day three message</small>
                                <a class="dayThreeAudioPlay"><i class='fa fa-file-audio audio-file'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}