<!DOCTYPE html>
<html lang="en">
<head>
    {# <meta charset="UTF-8"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset ('resources/images/title-logo.png') }}"/>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="{{ asset('resources/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('resources/css/custom-client.css') }}" rel="stylesheet">
        <link href="{{ asset('resources/css/form-wizard.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="shortcut icon" href="#">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"
              rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
              rel="stylesheet"/>
        {# <link href='https://fonts.googleapis.com/css?family=Corbel' rel='stylesheet'> #}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('resources/js/jquery.min.js') }}"></script>
        <script src="{{ asset('resources/js/popper.min.js') }}"></script>
        <script src="{{ asset('resources/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('resources/js/custom-client.js') }}"></script>
        <script src="{{ asset('resources/js/calculation-form.js') }}"></script>
        <script src="{{ asset('resources/js/navigationActivation.js') }}"></script>
        <script src="{{ asset('resources/js/international-telephone-init-validator.js') }}"></script>
        <script src="{{ asset('resources/js/form-wizard.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
