{% extends 'client/websiteLayout.html.twig' %}

{% block title %}Home - Smarter Payouts{% endblock %}

{% block content %}
    <div id="overlay"></div>
    <div class="container-fluid p-0">
        <section id="home" class="page-section d-flex align-items-center">
            <div class="col-12 p-0">
                <div class="row m-0">
                    <div class="col-lg-4 d-flex align-items-center">
                        <ul class="home-content list-unstyled">
                            <li><i class="fa fa-chevron-right pr-4"></i><span
                                        class="pulsing-text">Instant Upfront Quote</span></li>
                            <li><i class="fa fa-chevron-right pr-4"></i><span class="pulsing-text">No Obligation or Commitment</span>
                            </li>
                            <li><i class="fa fa-chevron-right pr-4"></i><span
                                        class="pulsing-text">100% Transparency</span></li>
                            <li><i class="fa fa-chevron-right pr-4"></i><span class="pulsing-text">Patent Pending Technology</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 p-0 m-0 video-container">
                        <div class="pl-lg-5 pr-lg-5 pl-3 pr-3 p-0 m-0">
                            <video controls class="img-fluid" poster="{{ asset ('resources/images/thumbnail.png') }}">
                                <source src="{{ app.request.server.get('BASE_PATH') ~ '/resources/videos/Smarter-Payouts.webm' }}"
                                        type="video/webm">
                            </video>
                        </div>
                    </div>
                    <div class="col-12 p-0 d-lg-none">
                        <div class="row p-0 m-0">
                            <div class="col-3 text-center d-flex align-items-center justify-content-center">
                                <i class="fa fa-2x fa-chevron-down animated-chevron-down"></i>
                            </div>
                            <div class="col-6 text-center theme-color">
                                <h5 class="font-weight-bold">Scroll Below</h5>
                                <h5 class="font-weight-bold">Upfront Instant</h5>
                                <h2 class="font-weight-bold">Offer</h2>
                            </div>
                            <div class="col-3 text-center d-flex align-items-center justify-content-center">
                                <i class="fa fa-2x fa-chevron-down animated-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="calculate" class="page-section">
            <h1 class="text-center primary-heading p-5 p-md-0 p-lg-0 p-xl-0">Calculate</h1>
            <h6 class="offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center heading-primary-tagline">Lorem Ipsum is
                simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s,</h6>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-end pt-3 pr-0 pl-0">
                        <div class="accordion col-lg-10 pr-0 pl-0" id="accordionExample">

                            {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
                            <div hidden>
                                {{ form_widget(form.height) }}{{ form_errors(form.height) }}
                            </div>
                            <div class="card accordion-card" tabindex='1' data-progress="25">
                                <button class="btn btn-link btn-block text-center card-header"
                                        type="button"
                                        data-toggle="collapse" data-target="#collapseAccountInfo"
                                        aria-expanded="true"
                                        aria-controls="collapseAccountInfo">
                                    <span class="heading-primary-calculation fa fa-user"></span>
                                    <span class="heading-primary-calculation">Info</span>
                                    <span class="heading-secondary-tagline">Enter your info</span>
                                </button>
                                <div id="collapseAccountInfo" class="collapse accordion-body show"
                                     aria-labelledby="headingAccountInfo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 p-0">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_firstName">First
                                                            Name<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.firstName) }}{{ form_errors(form.firstName) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_lastName">Last
                                                            Name (Optional)</label>
                                                        {{ form_widget(form.lastName) }}{{ form_errors(form.lastName) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label" for="calculator_form_productType">Product
                                                            Type<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.productType) }}{{ form_errors(form.productType) }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label" for="calculator_form_creditRating">Insurance
                                                            Company</label>
                                                        <div class="select-wrapper">
                                                            {{ form_widget(form.creditRating) }}{{ form_errors(form.creditRating) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_age">Age<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.age, {'type':'number'}) }}{{ form_errors(form.age) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label"
                                                               for="calculator_form_gender">Gender</label>
                                                        {{ form_widget(form.gender) }}{{ form_errors(form.gender) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label"
                                                               for="calculator_form_weight">Weight</label>
                                                        {{ form_widget(form.weight) }}{{ form_errors(form.weight) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label"
                                                               for="calculator_form_height">Height</label>
                                                        <select id="calculator_form_height"
                                                                class="height form-input filled">
                                                            <option></option>
                                                            <option value="4.0">4'0</option>
                                                            <option value="4.1">4'1</option>
                                                            <option value="4.2">4'2</option>
                                                            <option value="4.3">4'3</option>
                                                            <option value="4.4">4'4</option>
                                                            <option value="4.5">4'5</option>
                                                            <option value="4.6">4'6</option>
                                                            <option value="4.7">4'7</option>
                                                            <option value="4.8">4'8</option>
                                                            <option value="4.9">4'9</option>
                                                            <option value="4.10">4'10</option>
                                                            <option value="4.11">4'11</option>
                                                            <option value="5.0" selected>5'0</option>
                                                            <option value="5.1">5'1</option>
                                                            <option value="5.2">5'2</option>
                                                            <option value="5.3">5'3</option>
                                                            <option value="5.4">5'4</option>
                                                            <option value="5.5">5'5</option>
                                                            <option value="5.6">5'6</option>
                                                            <option value="5.7">5'7</option>
                                                            <option value="5.8">5'8</option>
                                                            <option value="5.9">5'9</option>
                                                            <option value="5.10">5'10</option>
                                                            <option value="5.11">5'11</option>
                                                            <option value="6.0">6'0</option>
                                                            <option value="5.1">6'1</option>
                                                            <option value="6.2">6'2</option>
                                                            <option value="6.3">6'3</option>
                                                            <option value="6.4">6'4</option>
                                                            <option value="6.5">6'5</option>
                                                            <option value="6.6">6'6</option>
                                                            <option value="6.7">6'7</option>
                                                            <option value="6.8">6'8</option>
                                                            <option value="6.9">6'9</option>
                                                            <option value="6.10">6'10</option>
                                                            <option value="6.11">6'11</option>
                                                            <option value="7.0">7'0</option>
                                                            <option value="7.1">7'1</option>
                                                            <option value="7.2">7'2</option>
                                                            <option value="7.3">7'3</option>
                                                            <option value="7.4">7'4</option>
                                                            <option value="7.5">7'5</option>
                                                            <option value="7.6">7'6</option>
                                                            <option value="7.7">7'7</option>
                                                            <option value="6.0">Prefer not to answer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 p-0">
                                                    <div class="col-lg-6 manualWeight-hide">
                                                        <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                            <label class="form-label" for="manualWeight">Manual
                                                                Weight(lbs)<span class="text-danger">*</span></label>
                                                            <input id="manualWeight" type="number"
                                                                   class="form-input number-input" min="121" max="1550">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label" for="calculator_form_phoneNo_manual">Phone
                                                            Number
                                                            (Optional)</label>
                                                        <input type="tel" id="calculator_form_phoneNo_manual"
                                                               class="form-input filled static phone-input"
                                                               autocomplete="off">
                                                        <div hidden>
                                                            {{ form_widget(form.phoneNo) }}{{ form_errors(form.phoneNo) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_emailAddress">Email
                                                            (Optional)</label>
                                                        {{ form_widget(form.emailAddress) }}{{ form_errors(form.emailAddress) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="accountInfoNext" type="button"
                                                data-toggle="collapse" data-target="#collapsePaymentInfo"
                                                aria-expanded="true"
                                                aria-controls="collapsePaymentInfo"
                                                class="btn-next btn btn-outline-custom-default btn-success-custom float-right pl-3 pr-3 pt-1 pb-1 mt-2 mb-2">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card accordion-card" tabindex='2' data-progress="50">
                                <button class="btn btn-link btn-block text-center card-header collapsed"
                                        type="button"
                                        data-toggle="collapse" data-target="#collapsePaymentInfo"
                                        aria-expanded="true"
                                        aria-controls="collapsePaymentInfo">
                                    <span class="heading-primary-calculation fa fa-hand-holding-usd"></span>
                                    <span class="heading-primary-calculation">Payment Information</span>
                                    <span class="heading-secondary-tagline">Enter your payment information</span>
                                </button>
                                <div id="collapsePaymentInfo" class="accordion-body collapse"
                                     aria-labelledby="headingPaymentInfo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 p-0">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <div class="input-group date form-inline datepicker focused"
                                                             data-date-format="mm/dd/yyyy">
                                                            <label class="form-label"
                                                                   for="calculator_form_paymentStartDate">Payment
                                                                Start
                                                                Date<span class="text-danger">*</span></label>
                                                            {{ form_widget(form.paymentStartDate) }}{{ form_errors(form.paymentStartDate) }}
                                                            <span class="input-group-addon float-right calendar-container"><i
                                                                        class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <div class="input-group date form-inline datepicker focused"
                                                             data-date-format="mm/dd/yyyy">
                                                            <label class="form-label"
                                                                   for="calculator_form_paymentEndDate">Payment End
                                                                Date<span class="text-danger">*</span></label>
                                                            {{ form_widget(form.paymentEndDate) }}{{ form_errors(form.paymentEndDate) }}
                                                            <span class="input-group-addon float-right calendar-container"><i
                                                                        class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="endDate-alert" class="col-12"></div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_paymentAmount">Payment
                                                            Amount($)<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.paymentAmount, {'type':'number'}) }}{{ form_errors(form.paymentAmount) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label" for="calculator_form_frequency">Payment
                                                            Mode<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.frequency) }}{{ form_errors(form.frequency) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mt-2 mt-sm-0 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_percentStep">Percent
                                                            step % or
                                                            Annual % (0-10)</label>
                                                        {{ form_widget(form.percentStep, {'type':'number'}) }}{{ form_errors(form.percentStep) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0">
                                                <div id="calculate_submit_top">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 pb-2" id="paymentInfobtns">
                                            <button id="paymentInfoPrev"
                                                    data-toggle="collapse" data-target="#collapseAccountInfo"
                                                    aria-expanded="true"
                                                    aria-controls="collapseAccountInfo"
                                                    type="button"
                                                    class="btn btn-prev btn-outline-custom-default btn-default-custom  float-left pl-3 pr-3 pt-1 pb-1 mt-2 mb-2">
                                                Prev
                                            </button>
                                            <button id="paymentInfoNext"
                                                    data-toggle="collapse" data-target="#collapseBasicInfo"
                                                    aria-expanded="true"
                                                    aria-controls="collapseBasicInfo"
                                                    type="button"
                                                    class="btn-next btn btn-outline-custom-default btn-success-custom float-right pl-3 pr-3 pt-1 pb-1 mt-2 mb-2">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card accordion-card gp-hide" tabindex='3' data-progress="75">
                                <button class="btn btn-link btn-block text-center card-header collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseBasicInfo"
                                        aria-expanded="true"
                                        aria-controls="collapseBasicInfo">
                                    <span class="heading-primary-calculation fa fa-barcode"></span>
                                    <span class="heading-primary-calculation">Basic Information</span>
                                    <span class="heading-secondary-tagline">Enter your basic information</span>
                                </button>
                                <div id="collapseBasicInfo" class="collapse accordion-body"
                                     aria-labelledby="headingBasicInfo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 p-0">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group mt-3 mt-sm-4 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label smoker-form-label"
                                                               for="calculator_form_smoker">Do You
                                                            Smoke? Including
                                                            Marijuana. Or smoked within the last 2 years?<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.smoker) }}{{ form_errors(form.smoker) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mt-3 mt-sm-2 mt-md-3 mt-xl-0 focused">
                                                        <label class="form-label" for="calculator_form_healthStatus">What
                                                            is the status
                                                            of your Health?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.healthStatus) }}{{ form_errors(form.healthStatus) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_legalIssues">Do
                                                            you Legal Issues?<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.legalIssues) }}{{ form_errors(form.legalIssues) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_DUI">In the last
                                                            five years of
                                                            DUI/DWI?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.DUI) }}{{ form_errors(form.DUI) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label"
                                                               for="calculator_form_licenseSuspended">License
                                                            Suspended in the last 5 years?<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.licenseSuspended) }}{{ form_errors(form.licenseSuspended) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_misdemeanor">Major
                                                            Criminal
                                                            offence in the last 10 years?<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.misdemeanor) }}{{ form_errors(form.misdemeanor) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 pb-2">
                                                <button id="basicInfoPrev"
                                                        type="button"
                                                        data-toggle="collapse"
                                                        data-target="#collapsePaymentInfo"
                                                        aria-expanded="true"
                                                        aria-controls="collapsePaymentInfo"
                                                        class="btn btn-prev btn-outline-custom-default btn-default-custom float-left pl-3 pr-3 pt-1 pb-1 mt-2 mb-2">
                                                    Prev
                                                </button>
                                                <button id="basicInfoNext"
                                                        type="button"
                                                        data-toggle="collapse" data-target="#collapseCustomInfo"
                                                        aria-expanded="true"
                                                        aria-controls="collapseCustomInfo"
                                                        class="btn-next btn btn-outline-custom-default btn-success-custom float-right pl-3 pr-3 pt-1 pb-1 mt-2 mb-2">
                                                    Next
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card accordion-card gp-hide" tabindex='4' data-progress="100">
                                <button class="btn btn-link btn-block text-center card-header collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseCustomInfo"
                                        aria-expanded="true"
                                        aria-controls="collapseCustomInfo">
                                    <span class="heading-primary-calculation fas fa-magic"></span>
                                    <span class="heading-primary-calculation">Lifestyle</span>
                                    <span class="heading-secondary-tagline">Enter your lifestyle</span>
                                </button>
                                <div id="collapseCustomInfo" class="accordion-body collapse"
                                     aria-labelledby="headingCustomInfo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 p-0">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_annualCheckup">Annual
                                                            Check-up?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.annualCheckup) }}{{ form_errors(form.annualCheckup) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label"
                                                               for="calculator_form_physicalExercise">How often do
                                                            you do physical Exercise?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.physicalExercise) }}{{ form_errors(form.physicalExercise) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_bloodPressure">Do
                                                            you suffer from
                                                            Blood Pressure?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.bloodPressure) }}{{ form_errors(form.bloodPressure) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label" for="calculator_form_highCholesterol">Do
                                                            you have High
                                                            Cholesterol?<span class="text-danger">*</span></label>
                                                        {{ form_widget(form.highCholesterol) }}{{ form_errors(form.highCholesterol) }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group focused mt-3 mt-sm-2 mt-md-3 mt-xl-0">
                                                        <label class="form-label"
                                                               for="calculator_form_drivingInfraction">Driving
                                                            Infractions (Last 3 Years)?<span
                                                                    class="text-danger">*</span></label>
                                                        {{ form_widget(form.drivingInfraction) }}{{ form_errors(form.drivingInfraction) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0">
                                                <input id="termsAndConditionsUrl"
                                                       data-url="{{ path('terms_and_conditions') }}" hidden>
                                                <div id="calculate_submit_bottom">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_errors(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="row">
                            <div class="col-xl-5 pl-0 d-none d-xl-block" style="margin-top: 20%">
                                <img class="img-fluid" src="{{ asset ('/resources/images/calculate-arrows.svg') }}">
                            </div>
                            <div class="offset-xl-1 col-xl-5 col-lg-9 offset-sm-3 col-sm-6 offset-2 col-8 d-flex justify-content-center pr-0"
                                 id="calculate_mobile">
                                <img class="img-fluid mobile-img"
                                     src="{{ asset ('/resources/images/calculate-mobile.svg') }}">
                                <div class="position-absolute calculate_mobile_content">
                                    <div class="d-flex justify-content-center">
                                        <div class="col-xl-7 col-lg-6 col-sm-7 col-8 calculate_content">
                                            <img width="100" class="pt-3 pb-0 mt-0 mb-0"
                                                 src="{{ asset ('/resources/images/logo-tower.png') }}">
                                            <div class="form-group focused">
                                                <label class="form-label" for="result_name">Name:</label>
                                                <input id="result_name" type="text" placeholder="John"
                                                       class="form-input ml-2 filled" readonly>
                                            </div>
                                            <div class="form-group focused">
                                                <label class="form-label" for="result_age">Age:</label>
                                                <input id="result_age" type="text" placeholder="45"
                                                       class="form-input ml-2 filled" readonly>
                                            </div>
                                            <div class="form-group focused">
                                                <label class="form-label" for="result_startDate">Start Date:</label>
                                                <input id="result_startDate" type="text" placeholder="09-23-2021"
                                                       class="form-input ml-2 filled" readonly>
                                            </div>
                                            <div class="form-group focused">
                                                <label class="form-label" for="result_endDate">End Date:</label>
                                                <input id="result_endDate" type="text" placeholder="09-23-2031"
                                                       class="form-input ml-2 filled" readonly>
                                            </div>
                                            <div class="form-group focused">
                                                <label class="form-label" for="result_health">Health Status:</label>
                                                <input id="result_health" type="text" placeholder="Normal"
                                                       class="form-input ml-2 filled" readonly>
                                            </div>
                                            <div class="progress mt-4">
                                                <div id="calculator-progress-bar"
                                                     class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                     role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                                     aria-valuemax="100" style="width: 0%">0%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .modal -->
        <div class="modal calculate_result_modal border-0" id="calculate_result_modal">
            <div class="modal-dialog border-0">
                <div class="modal-content calculate_result_modal_content border-0">
                    <div class="modal-header border-0">
                        <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body col-12 d-flex justify-content-end mobile-animation">
                        <div class="col-lg-6 d-flex justify-content-end">
                            <div class="col-xl-5 col-lg-9 col-sm-6 col-8 d-flex justify-content-center"
                                 id="calculate_mobile">
                                <img class="img-fluid mobile-img"
                                     src="{{ asset ('/resources/images/calculate-mobile.svg') }}">
                                <div class="position-absolute calculate_mobile_content">
                                    <div class="d-flex justify-content-center">
                                        <div class="col-xl-8 col-lg-9 col-sm-8 col-9">
                                            <img width="100" class="pt-2 pb-0 mt-0 mb-0"
                                                 src="{{ asset ('/resources/images/logo-tower(2).png') }}">
                                            <div id="calculation-result-container"
                                                 class="d-flex align-items-center pt-0 mt-0 w-100">
                                                <div id="calculation-result" class="pt-0 mt-0">
                                                    <h4 class="text-center pt-0 mt-0">Hello <span id="client-name">Veronika</span>
                                                    </h4>
                                                    <p><b>Min: </b><span id="min-amount">1255</span>$</p>
                                                    <p><b>Max: </b><span id="max-amount">1955</span>$</p>
                                                    <p><b>Beneficiary Protection:</b><span
                                                                id="beneficiary-amount">1255</span>$</p>
                                                    <div class="lifeExpectancy">
                                                        <p>Average Life Expectancy:<span
                                                                    id="averageLifeExpectancy"></span></p>
                                                        <p>Your Life Expectancy:<span id="yourLifeExpectancy"></span>
                                                        </p>
                                                    </div>

                                                </div>
                                                <div id="otp-phone-number" hidden>
                                                    <p class="heading-secondary-tagline pb-3">If you want to see the <b>Quote</b>
                                                        verify your phone number</p>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-sm-0 focused">
                                                            <label class="form-label" for="inp-otp-phone-manual">Phone
                                                                Number<span
                                                                        class="text-danger">*</span></label>

                                                            <input id="inp-otp-phone-manual" type="text"
                                                                   class="form-input filled static phone-input"
                                                                   autocomplete="off" required>

                                                            <input id="inp-otp-phone" type="text"
                                                                   class="form-input filled static phone-input"
                                                                   autocomplete="off" hidden>
                                                        </div>
                                                    </div>
                                                    <button type="submit" data-spinner="true" id="otp-phone-submit"
                                                            class="btn btn-outline-custom-default btn-success-custom mt-3 p-1 btn-spinner">
                                                        Submit
                                                    </button>
                                                </div>
                                                <div id="otp-code" hidden>
                                                    <p class="heading-secondary-tagline pb-3">Enter OTP Code here</p>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-sm-0">
                                                            <label class="form-label" for="inp-otp-code">Code<span
                                                                        class="text-danger">*</span></label>
                                                            <input id="inp-otp-code" type="text"
                                                                   class="form-input" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <button type="submit" data-spinner="true" id="otp-code-submit"
                                                            class="btn btn-outline-custom-default btn-success-custom mt-3 p-1 btn-spinner">
                                                        Submit
                                                    </button>
                                                </div>
                                                <div id="given-details" class="pt-0 mt-0" hidden>
                                                    <div class="form-group focused pt-0 mt-0">
                                                        <label class="form-label" for="result_name">Name:</label>
                                                        <input id="details_name" type="text" value="John"
                                                               class="form-input ml-2 filled" readonly>
                                                    </div>
                                                    <div class="form-group focused">
                                                        <label class="form-label" for="details_age">Age:</label>
                                                        <input id="details_age" type="text" value="45"
                                                               class="form-input ml-2 filled" readonly>
                                                    </div>
                                                    <div class="form-group focused">
                                                        <label class="form-label" for="details_startDate">Start
                                                            Date:</label>
                                                        <input id="details_startDate" type="text" value="09-23-2021"
                                                               class="form-input ml-2 filled" readonly>
                                                    </div>
                                                    <div class="form-group focused">
                                                        <label class="form-label" for="details_endDate">End
                                                            Date:</label>
                                                        <input id="details_endDate" type="text" value="09-23-2031"
                                                               class="form-input ml-2 filled" readonly>
                                                    </div>
                                                    <div class="form-group focused">
                                                        <label class="form-label" for="details_health">Health
                                                            Status:</label>
                                                        <input id="details_health" type="text" value="Normal"
                                                               class="form-input ml-2 filled" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="about-us" class="d-flex align-items-center page-section">
            <div class="col-12 pt-lg-5">
                <h1 class="primary-heading text-center text-lg-left pt-lg-5 pl-lg-5">Who we are?</h1>
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-sm-center">
                        <div class="about-us-section-one pl-lg-5">
                            <h6 class="pt-lg-5 heading-secondary-tagline text-center text-md-left text-lg-left text-xl-left">
                                Our mission is to give all our clients the confidence and flexibility to make their own
                                financial decisions, on their own terms and at their own pace. We stand behind each of
                                our offers with a 30-day free price cheek guarantee.Our self-quoting platform provides
                                an upfront cash offer in exchange for a portion of your future structured settlement,
                                annuity, or lottery payments. Our patent pending software gives you a 100% guarantee for
                                upfront quotes, no obligation deal, and no sales pressure online experience.3 Most
                                non-obvious reasons why we provide upfront pricing to all our customers.</h6>
                            <h6 class="pt-3 heading-primary-tagline text-center text-md-left text-lg-left text-xl-left">
                                1. Provide all our clients with the same high level of confidence and trust.
                            </h6>
                            <h6 class="pt-3 heading-secondary-tagline text-center text-md-left text-lg-left text-xl-left font-italic">
                                We strongly believe that during an honest business transaction all parties
                                should benefit financially. Nobody should be left holding the short end of the
                                stick. Thats why we developed the industrys first patent pending software that
                                can create customized offers for all our clients based on their unique financial
                                needs.
                            </h6>
                            <h6 class="pt-3 heading-primary-tagline text-center text-md-left text-lg-left text-xl-left">
                                2. Only you can decide whats best for you & familys long term financial interest.
                                <span><a href="{{ path('about_us') }}" class="text-link"
                                         target="_blank">Learn more...</a></span>
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="col-md-10">
                            <img class="about-us-back-img"
                                 src="{{ asset ('resources/images/animations/bg-about-us-animation.svg') }}">
                            <img class="img-fluid about-us-animated-img about-us-animated-img-block animation-element"
                                 src="{{ asset ('resources/images/animations/about-us-animation.svg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="career" class="page-section">
            <h6 class="text-center heading-primary-tagline">Ready to make an impact?</h6>
            <h1 class="text-center primary-heading p-5 p-md-0 p-lg-0 p-xl-0">Come And Join Us</h1>
            <p class="offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-center heading-secondary-tagline">Feel free to
                contact us any time.we can Feel free to contact us any time. We will get back to you as soon as we
                can.</p>
            <div class="col-12 d-flex justify-content-center pt-4">
                <div class="col-lg-8 pt-lg-5">
                    <div class="d-flex pt-lg-3 justify-content-around flex-wrap flex-lg-nowrap">
                        <div class="col-md-4">
                            <div class="career-card text-center d-flex align-items-center justify-content-center">
                                <h4>No Job Available</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="page-section">
            <div class="col-12">
                <div class="row pr-0">
                    <div class="col-lg-6 d-flex pl-2 justify-content-lg-between justify-content-sm-center p-0">
                        <div class="contact-us-section-one pl-lg-5">
                            <h1 class="pl-0 pb-2 primary-heading">Get In Touch</h1>
                            <h6 class="col-lg-8 pl-lg-0 heading-primary-tagline">Feel free to contact us any time. We
                                will get back to you as
                                soon
                                as
                                we can.</h6>
                            {{ form_start(contactUsForm, { 'attr': {'autocomplete': 'off'} }) }}
                            <div class="pt-lg-5 pt-0">
                                <div class="form-group mt-sm-0">
                                    <label class="form-label" for="first">Name<span class="text-danger">*</span></label>
                                    {{ form_widget(contactUsForm.name) }}{{ form_errors(contactUsForm.name) }}
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="last">Email<span class="text-danger">*</span></label>
                                    {{ form_widget(contactUsForm.email) }}{{ form_errors(contactUsForm.email) }}
                                </div>
                                <div class="form-group focused">
                                    <label class="form-label" for="contact_us_form_contact_manual">Contact
                                        (Optional)</label>
                                    <input id="contact_us_form_contact_manual" type="tel"
                                           class="form-input filled static phone-input">
                                    <div hidden>
                                        {{ form_widget(contactUsForm.contact) }}{{ form_errors(contactUsForm.contact) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="color">Message<span
                                                class="text-danger">*</span></label>
                                    {{ form_widget(contactUsForm.message) }}{{ form_errors(contactUsForm.message) }}
                                </div>

                                <button type="submit" data-spinner="true"
                                        class="btn btn-outline-custom-default btn-success-custom float-right mt-3 btn-spinner">
                                    Send
                                    Message
                                </button>
                            </div>
                            {{ form_errors(contactUsForm) }}
                            {{ form_end(contactUsForm) }}
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-end pr-0">
                        <div class="offset-xl-7 col-xl-5 offset-lg-4 col-lg-8 offset-2 col-10 contact-us-section-two">
                            <div id="loading"><i class="fa fa-square fa-3x"></i></div>
                            <div class="p-lg-4 pt-4 p-0 contact-info">
                                <h4>Info</h4>
                                <p><i class="fa fa-phone fa-rotate-90"></i><span>Some text here</span></p>
                                <p><i class="fa fa-envelope"></i><span>help@smarter-payouts.com</span></p>
                                <p><i class="fa fa-map-marker-alt"></i><span>Some text here</span></p>
                                <h6 class="text-center pt-5">Follow Us</h6>
                                <div class="d-flex justify-content-around p-4 pb-0 social-media">
                                    <a href=""><i class="fab fa-facebook-square"></i> </a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-twitter-square"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
