{% extends 'base.html.twig' %}

{% block title %}Log In - Smarter Payouts{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center login">
        <div class="col-md-8 rounded p-5">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center custom-border-right">
                    <img width="250" class="rounded img-fluid"
                         alt="Logo" src="{{ asset ('resources/images/logo.png') }}">
                </div>
                <div class="col-md-6">
                    <form method="post">
                        <div class="d-flex align-items-center flex-column login-form">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h3 class="pb-5 font-weight-bold">Login</h3>

                            <div class="form-row col-md-12 pb-4 ">
                                <input placeholder="Email" type="email" value="{{ last_username }}"
                                       name="email" id="inputEmail"
                                       class="form-control custom-input text-indent"
                                       autocomplete="email" required autofocus>
                            </div>

                            <div class="form-row col-md-12 pb-3">
                                <input placeholder="Password" type="password" name="password"
                                       id="inputPassword" class="form-control custom-input text-indent"
                                       autocomplete="current-password " required>
                            </div>
                            <div class="form-row col-md-12 pb-5">
                                <a class="ml-auto pr-2" href="{{ path('forgot_password') }}">Forgot Password?</a>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <div class="form-row col-md-12 pb-3">
                                <input class="form-control btn btn-outline-success custom-input custom-btn-success"
                                       title="Log In"
                                       type="submit" value="Log In">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
