{% block main %}
<div class="col-md-12 form-group">
     {{ form_start(form) }}
     <div class="row m-l-3p">
         <div class="col-md-12 pad-l-0">
             {{ form_widget(form.email) }}{{ form_errors(form.email) }}
         </div>
     </div>

     <div class="row m-l-3p">
         <div class="col-md-12 pad-l-0">
             {{ form_widget(form.password) }}{{ form_errors(form.password) }}
         </div>
     </div>
     <div class="row m-l-3p">
         <div class="col-md-12 pad-l-0">
             {{ form_widget(form.username) }}{{ form_errors(form.username) }}
         </div>
     </div>
     <div class="row m-l-3p">
         <div class="col-md-12 pad-l-0">
             {{ form_widget(form.address) }}{{ form_errors(form.address) }}
         </div>
     </div>
     <div class="row m-l-3p">
         <div class="col-md-12 pad-l-0">
             {{ form_widget(form.phoneNumber) }}{{ form_errors(form.phoneNumber) }}
         </div>
     </div>
{#     <div class="row m-l-3p">#}
{#         <div class="col-md-12 pad-l-0">#}
{#             {{ form_widget(form.save) }}{{ form_errors(form.save) }}#}
{#         </div>#}
{#     </div>#}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock main %}
