{% block content %}
    {{ form_start(form) }}
    <div>
        {% if form.email is defined %}
            {{ form_widget(form.email) }}{{ form_errors(form.email) }}
        {% endif %}
        {% if form.password is defined %}
            {{ form_widget(form.password) }}{{ form_errors(form.password) }}
        {% endif %}
        <button type="submit">Send</button>
    </div>
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock content %}